<mat-sidenav-container>
  <mat-sidenav #sidenav
               [mode]="isBiggerScreen() ? 'over' : 'side'"
               [(opened)]="opened"
               [fixedInViewport]="true"
  >
    <mat-nav-list>
      <a mat-list-item>
        <!--        <img mat-card-image  src=""/> -->
        logo image
      </a>

      <a mat-list-item>
        <span class="flex-between">
          <span style="display: flex; align-items: center">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </span>
          <mat-icon class="myIcon">expand_more</mat-icon>
        </span>
      </a>
      <a mat-list-item>
        <mat-icon>person</mat-icon>
        User Profile
      </a>
      <a mat-list-item>
        <mat-icon>content_paste</mat-icon>
        Table List
      </a>
      <a mat-list-item>
        <mat-icon>library_books</mat-icon>
        Typography
      </a>
      <a mat-list-item>
        <mat-icon>location_on</mat-icon>
        Maps
      </a>
      <a mat-list-item>
        <mat-icon>calendar_today</mat-icon>
        Calendar
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar [color]="'primary'" class="header">
      <div>
        Disfraz material tema demostración
      </div>
      <div>
        <mat-icon class="hamburger">menu</mat-icon>
      </div>
    </mat-toolbar>

    <section [ngClass]="{'alter-theme': isAlterTheme}">
      <mat-tab-group>
        <mat-tab [label]="'Default'">
          <mat-card>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
          </mat-card>
        </mat-tab>

        <mat-tab [label]="'Alter'">
          <mat-card class="alter-theme">
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
          </mat-card>
        </mat-tab>

      </mat-tab-group>
    </section>

    <mat-card>

      <button appItButton
              mat-raised-button
              [permanentColor]="colorChanged"
              [permanentBackground]="backgroundChanged"
              (click)="isAlterTheme = !isAlterTheme"
      >switch theme
      </button>

      <input type="color" [value]="'#000000'" (change)="setBackground($event)"/>
      <input type="color" [value]="'#ffffff'"(change)="setColor($event)"/>
    </mat-card>

    <section class="flex-between" style="margin-left: auto; margin-right: auto; width: 50%">
      <div class="theme">
        <div class="label">
          Theme:
        </div>
        <div class="value">
          <button mat-icon-button color="primary" aria-label="Change theme"
                  (click)="themePrimary.dark = !themePrimary.dark">
            <mat-icon>{{themePrimary.dark ? 'nights_stay' : 'wb_sunny'}}</mat-icon>
          </button>
        </div>

        <h5>Primary</h5>

        <div class="label">Hue:</div>
        <div class="value">
          <mat-slider
            [value]="themePrimary.h"
            (input)="themePrimary.h = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="360"></mat-slider>
        </div>
        <div class="label">
          Saturate:
        </div>
        <div class="value">
          <mat-slider
            [value]="themePrimary.s"
            (input)="themePrimary.s = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
        <div class="label">
          Lightness:
        </div>
        <div class="value">
          <mat-slider
            [value]="themePrimary.l"
            (input)="themePrimary.l = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
        <div class="label">
          Contrast threshold:
        </div>
        <div class="value">
          <mat-slider
            [value]="themePrimary.cc"
            (input)="themePrimary.cc = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
      </div>

      <div class="theme">
        <h5 style="margin-top: 75px;">Accent</h5>


        <div class="label">Hue:</div>
        <div class="value">
          <mat-slider
            [value]="themeAccent.h"
            (input)="themeAccent.h = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="360"></mat-slider>
        </div>
        <div class="label">
          Saturate:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeAccent.s"
            (input)="themeAccent.s = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
        <div class="label">
          Lightness:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeAccent.l"
            (input)="themeAccent.l = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
        <div class="label">
          Contrast threshold:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeAccent.cc"
            (input)="themeAccent.cc = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
      </div>

      <div class="theme">
        <h5 style="margin-top: 75px;">Warn</h5>


        <div class="label">Hue:</div>
        <div class="value">
          <mat-slider
            [value]="themeWarn.h"
            (input)="themeWarn.h = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="360"></mat-slider>
        </div>
        <div class="label">
          Saturate:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeWarn.s"
            (input)="themeWarn.s = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
        <div class="label">
          Lightness:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeWarn.l"
            (input)="themeWarn.l = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
        <div class="label">
          Contrast threshold:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeWarn.cc"
            (input)="themeWarn.cc = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
      </div>
    </section>


    <section class="flex-between" style="margin-left: auto; margin-right: auto; width: 50%">
      <div class="theme">
        <h5>Alt-Primary</h5>

        <div class="label">Hue:</div>
        <div class="value">
          <mat-slider
            [value]="themeAltPrimary.h"
            (input)="themeAltPrimary.h = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="360"></mat-slider>
        </div>
        <div class="label">
          Saturate:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeAltPrimary.s"
            (input)="themeAltPrimary.s = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
        <div class="label">
          Lightness:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeAltPrimary.l"
            (input)="themeAltPrimary.l = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
        <div class="label">
          Contrast threshold:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeAltPrimary.cc"
            (input)="themeAltPrimary.cc = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
      </div>

      <div class="theme">
        <h5>Alt-Accent</h5>


        <div class="label">Hue:</div>
        <div class="value">
          <mat-slider
            [value]="themeAltAccent.h"
            (input)="themeAltAccent.h = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="360"></mat-slider>
        </div>
        <div class="label">
          Saturate:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeAltAccent.s"
            (input)="themeAltAccent.s = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
        <div class="label">
          Lightness:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeAltAccent.l"
            (input)="themeAltAccent.l = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
        <div class="label">
          Contrast threshold:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeAltAccent.cc"
            (input)="themeAltAccent.cc = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
      </div>

      <div class="theme">
        <h5>Alt-Warn</h5>


        <div class="label">Hue:</div>
        <div class="value">
          <mat-slider
            [value]="themeAltWarn.h"
            (input)="themeAltWarn.h = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="360"></mat-slider>
        </div>
        <div class="label">
          Saturate:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeAltWarn.s"
            (input)="themeAltWarn.s = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
        <div class="label">
          Lightness:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeAltWarn.l"
            (input)="themeAltWarn.l = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
        <div class="label">
          Contrast threshold:
        </div>
        <div class="value">
          <mat-slider
            [value]="themeAltWarn.cc"
            (input)="themeAltWarn.cc = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
      </div>
    </section>
  </mat-sidenav-content>

</mat-sidenav-container>


