<mat-sidenav-container>
  <mat-sidenav #sidenav
               [mode]="isBiggerScreen() ? 'over' : 'side'"
               [(opened)]="opened"
               [fixedInViewport]="true"
  >
    <mat-nav-list>
      <a mat-list-item>
        <!--        <img mat-card-image  src=""/> -->
        logo image
      </a>

      <a mat-list-item>
        <span class="flex-between">
          <span style="display: flex; align-items: center">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </span>
          <mat-icon class="myIcon">expand_more</mat-icon>
        </span>
      </a>
      <a mat-list-item>
        <mat-icon>person</mat-icon>
        User Profile
      </a>
      <a mat-list-item>
        <mat-icon>content_paste</mat-icon>
        Table List
      </a>
      <a mat-list-item>
        <mat-icon>library_books</mat-icon>
        Typography
      </a>
      <a mat-list-item>
        <mat-icon>location_on</mat-icon>
        Maps
      </a>
      <a mat-list-item>
        <mat-icon>calendar_today</mat-icon>
        Calendar
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar [color]="'primary'" class="header">
      <div>
        Disfraz material tema demostración
      </div>
      <div>
        <mat-icon class="hamburger">menu</mat-icon>
      </div>
    </mat-toolbar>

    <section [ngClass]="{'alter-theme': isAlterTheme}">
      <mat-tab-group>
        <mat-tab [label]="'Default'">
          <mat-card>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
          </mat-card>
        </mat-tab>

        <mat-tab [label]="'Alter'">
          <mat-card class="alter-theme">
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
          </mat-card>
        </mat-tab>

      </mat-tab-group>
    </section>

    <button appItButton [permanentColor]="'blue'" (click)="isAlterTheme = !isAlterTheme">switch theme</button>


    <div class="theme">
      <div class="label">
        Theme:
      </div>
      <div class="value">
        <button mat-icon-button color="primary" aria-label="Change theme" (click)="theme.dark = !theme.dark">
          <mat-icon>{{theme.dark ? 'nights_stay' : 'wb_sunny'}}</mat-icon>
        </button>
      </div>


      <div class="label">Hue:</div>
      <div class="value">
        <mat-slider
          [value]="theme.h"
          (input)="theme.h = $event.value"
          thumbLabel
          color="primary"
          tickInterval="1"
          min="0"
          max="360"></mat-slider>
      </div>
      <div class="label">
        Saturate:
      </div>
      <div class="value">
        <mat-slider
          [value]="theme.s"
          (input)="theme.s = $event.value"
          thumbLabel
          color="primary"
          tickInterval="1"
          min="0"
          max="100"></mat-slider>
      </div>
      <div class="label">
        Lightness:
      </div>
      <div class="value">
        <mat-slider
          [value]="theme.l"
          (input)="theme.l = $event.value"
          thumbLabel
          color="primary"
          tickInterval="1"
          min="0"
          max="100"></mat-slider>
      </div>
      <div class="label">
        Contrast threshold:
      </div>
      <div class="value">
        <mat-slider
          [value]="theme.cc"
          (input)="theme.cc = $event.value"
          thumbLabel
          color="primary"
          tickInterval="1"
          min="0"
          max="100"></mat-slider>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>


